/*
// .site-header
*/
@import '../variables';
@import '../functions';
@import '../mixins/direction';


.site-header {
    position: relative;
    z-index: 100;
    background: $header-bg;
    color: $header-font-color;
}
.site-header__middle {
    display: flex;
    align-items: center;
    height: 104px;
}
.site-header__logo {
    flex-shrink: 0;
    width: 255px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $header-logo-color;

.logo-header {
    display: flex;
    width: 300px;
    height: 80px;
}

    @include direction {
        #{$margin-inline-end}: 30px;
    }

    a {
        color: inherit;
    }

    svg {
        fill: currentColor;
    }
}
.site-header__search {
    flex-grow: 1;
}
.site-header__login {
    line-height: 1;
    flex-shrink: 0;

    @include direction {
        text-align: $inline-end;
        #{$margin-inline-start}: 80px;
    }
}
.site-header__login-title {
    font-size: 14px;
    color: $header-font-muted-color;
    margin-bottom: 6px;
}
.btn-login {
    font-size: 16px;
    font-weight: 500;
    color: $light-opposite-color;
    background: $light-color;
    border: 2px solid $light-opposite-color;
    border-radius: 4px;
    padding: 8px 16px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;

    &:hover {
        background: $light-color;
        border-color: $link-color;
        color: $link-color;
    }
}
.site-header__nav-panel {
    height: $nav-panel-height;
}


@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
    .site-header__logo {
        width: 210px;
        justify-content: flex-start;

        @include direction {
            #{$margin-inline-end}: 24px;
        }
    }
}
